<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">
    <a href="" class="navbar-brand border-sm-0 pr-3"><em>Cine<span>Times</span></em></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0 bg-dark searchbar p-0">
      <input class="form-control mr-sm-2 searchinput bg-dark text-white" type="search" placeholder="Search" aria-label="Search">
      <button type="submit" class="btn btn-dark my-2 my-sm-0 d-none d-md-block search-btn" type="submit">
        <i class="fa fa-search"></i>
      </button>

    </form>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item active"><a href="" routerLink="" routerLinkActive="active" class="nav-link"> <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href="" routerLink="/favorites" class="nav-link">Favorites <i class="fa fa-heart"></i></a></li>
 <!--
        <li class="nav-item"><a href="" routerLink="/signin" class="nav-link">Signin <i class="fa fa-sign-in"></i></a></li>
        <li class="nav-item"><a href="" routerLink="/register" class="nav-link">Join <i class="fa fa-user-plus"></i></a></li>
 -->
      </ul>
    </div>
  </div>
</nav>
