.navbar {
  z-index: 99999 !important;
}

.navbar-brand {
  color: white;
  letter-spacing: 1px;
  font-weight: 100;
}

.navbar-brand span {
  color: orange;
}

.searchbar {
  border: 1px solid #222;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #222;
}

.searchinput {
  border: 0;
  outline: 0;
  border-radius: 20px;
  -webkit-appearance: none;
  letter-spacing: 1px;
  font-size: .9em;
}

.searchinput:focus {
  box-shadow: none;
  outline: none;
  border: 0;
}

.search-btn {
  border-radius: 20px;
}

