.jumbotron {
  border-radius: 0 !important;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.movie {
  position: relative;
  opacity: 0.9;
}

.poster-image {
  width: 100%;
  object-fit: cover;
}

.movie:hover {
  animation: scale;
  transition: 1s ease-in-out;
  transform: scale(1.02,1.02);
  z-index: 999;
  opacity: 1;
  box-shadow: 1px 0 5px black;
  border-radius: 5px;
}

.poster-title {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 99999;
  letter-spacing: 1px;
  font-family: Roboto, 'sans-serif';
  font-weight: 100;
}



