.jumbotron {
  border-radius: 0 !important;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.movie {
  position: relative;
  opacity: 0.9;
}

.poster-image {
  width: 100%;
  object-fit: cover;
}

.poster-title {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 99999;
  letter-spacing: 1px;
  font-family: Roboto, 'sans-serif';
  font-weight: 100;
}



